body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: solid lightgrey 1px;
    margin: .5em;
    padding: .5em;
    width: 60%;
    border-radius: .5em;
}

.bg-info {
    color: darkblue;
    background-color: #A7C7E7;
}

.bg-success {
    color: darkgreen;
    background-color: lightgreen;
}

.bg-warning {
    color: darkgoldenrod;
    background-color: #FFFF99;
}

.bg-error {
    color: darkred;
    background-color: #ffcccc;
}


