.navbar {
    background-color: #557A95;
    color: white;
    padding: 5px;
}

.location > #find {
    background-color: #7395AE;
    color: white;
}

.location {
    padding-left: 60px;
}

.column {
    display: flex;
    float: left;
    width: 20%;
    padding: 10px;
}
/*Remove extra left and right margins, due to padding*/
.row {
      margin: 2px;
  }

/* Style the counter cards */
.card-header {
    background-color: #B1A296;
    color: white;
    text-align: center;
    padding-bottom: 0;
}





