body {
    background-color: #e5e5e5;
    font-family: 'Lexend', sans-serif;
}

.navbar {
    background-color: #557A95;
    color: white;
    padding: 5px;
}

#search-button {
    background-color: #7395AE;
    color: white;
    border-radius: 5px;
}

.searchLocation {
    padding-left: 60px;
}

.column {
    display: flex;
    float: left;
    width: 20%;
    padding: 10px;
}
/*Remove extra left and right margins, due to padding*/
.row {
    margin: 2px;
  }

#card {
    border: 2px solid black;
}

/* Style the counter cards */
.card-header {
    background-color: #B1A296;
    color: white;
    text-align: center;
}


#map {
    width: 100vw;
    height: 50vh;
}

#temp {
    text-align: center;
}




